body{
    font-family:Helvetica, sans-serif;
    background-color: white;
	margin:0;
}
@media screen and (max-width:767px)
{
    .horizontal-menu{
        display: none;
    }
.header{
    display:grid;
    grid-template-columns:20% 60% 10%;
    grid-gap: 1rem;
    align-items: center;    
}
.head-title{
    padding: 0px 50px;
}
.head-title h3{
    font-family: sans-serif;
    font-size:1rem;
    text-align: center;
}
.side-menu{
    overflow: hidden; 
    text-align: center;   
}
.side-menu:hover .dropdown {
    display: block;
    padding: 10px;
    width:50%;
    height: 40%;    
}
.side-menu a{
    display:block;
    padding:10px 0px;    
}
.dropdown{
    box-shadow: 0px 10px 10px 0px;
    background-color:white;
    position: absolute;
    height: auto;    
    display:none;
}
.dropdown :hover{
background-color:grey;

}
.dropdown a{
    text-decoration: none;
    display:block;
    color:black;
    text-align:left;
    float: left;    
    font-size: 1rem;
}
.cart{
    font-size: 18px;
    text-align: center;
}
.cart a{
    color:#000;
}
.container{
    width:100%;
    height: auto;
}
.container-outwear{
    padding: 10px 0px;
    width:100%;
}
.men img{
    width:100%;
    height: 230px;
    object-fit: cover;
    padding: 25px 0px;
}
.men{
	text-align:center;
}
.lady{
	text-align:center;
}
.lady img{
    width:100%;
    height: 230px;
    object-fit: cover;
    padding: 25px 0px;
}

.men-title{
    text-align: center;
    font-size: 1em;
    font-weight: 50;
    padding: 20px 0px 25px;
}
.container-outwear .btn {
    text-decoration: none;
    border: 2px solid #000;
    text-align: center;    
    padding: 10px 50px;
    font-size:13px;
    color:#000;
}
.container-tshirts{
display:grid;
grid-template-columns:50% 50%;
height:auto;

}
.men-tshirt img{
    width:100%;
    height: 230px;
    object-fit: cover;
    padding: 25px 0px;
}
.men-tshirt{
	text-align:center;
}
.men-tshirt .btn{
    text-decoration: none;
    border: 2px solid #000;
    text-align: center;    
    padding: 15px 20px;
    font-size:10px;
    color: #000;
}
.footer{
    width:100%;
    text-align: center;
}
.footer h5{
    padding: 40px 0px;
}
.footer .btn{
    text-decoration: none;
    border: 2px solid #000;
    text-align: center;    
    padding: 10px 50px;
    margin:4em;
    font-size:10px;
    color:#000;
}
.footer h5{
    margin: 0;
}
.horizontal-menu{
     width:100%;
     height: auto;
     margin-top: 20px;
}
.horizontal-menu .items{
    display: flex;
    justify-content: center;
}
.horizontal-menu a{
    text-decoration: none;
    padding: 0px 20px;
    color:#000;
    font-size: 14px;
}
}
@media screen and (min-width:768px)
{
    
     .side-menu{
        display: none;
    }
    .header{
        display:grid;
        grid-template-columns:80% 10%;
        grid-gap: 1rem;
        align-items: center;    
    }
    .head-title{
        padding: 0px 50px;
    }
    .head-title h3{
        font-family: sans-serif;
        font-size:1rem;
        text-align: center;
        padding-left: 190px;
    }
    .side-menu{
        overflow: hidden; 
        text-align: center;   
    }
    .side-menu:hover .dropdown {
        display: block;
        padding: 10px;
        width:50%;
        height: 40%;    
    }
    .side-menu a{
        display:block;
        padding:10px 0px;    
    }
    .dropdown{
        box-shadow: 0px 10px 10px 0px;
        background-color:white;
        position: absolute;
        height: auto;    
        display:none;
    }
    .dropdown :hover{
    background-color:grey;
    
    }
    .dropdown a{
        text-decoration: none;
        display:block;
        color:black;
        text-align:left;
        float: left;    
        font-size: 1rem;
    }
    .cart{
        font-size: 18px;
        text-align: center;
        padding-left: 70px;
    }
    .cart a{
        color:#000;
    }
    .container{
        width:100%;
        height: auto;
    }
    .container-outwear{
        padding: 10px 0px;
        width:100%;
    }
    .men img{
        width:100%;
        height: 330px;
        object-fit: cover;
        padding: 25px 0px;
    }
	.men{
		text-align:center;
	}
	.lady{
		text-align:center;
	}
    .lady img{
        width:100%;
        height: 330px;
        object-fit: cover;
        padding: 25px 0px;
    }
    
    .men-title{
        text-align: center;
        font-size: 1em;
        font-weight: 50;
        padding: 20px 0px 25px;
    }
    .container-outwear .btn {
        text-decoration: none;
        border: 2px solid #000;
        text-align: center;    
        padding: 10px 50px;
        position: relative;
        font-size:13px;
        color:#000;
    }
    .container-tshirts{
    display:grid;
    grid-template-columns:50% 50%;
    height:auto;    
    }
    .men-tshirt img{
        width:100%;
        height: 330px;
        object-fit: cover;
        padding: 25px 0px;
    }
	.men-tshirt{
	text-align:center;
	}
    .men-tshirt .btn{
        text-decoration: none;
        border: 2px solid #000;
        text-align: center;    
        padding: 15px 20px;
        font-size:10px;
        color: #000;
    }
    .footer{
        width:100%;
        text-align: center;
    }
    .footer h5{
        padding: 40px 0px;
    }
    .footer .btn{
        text-decoration: none;
        border: 2px solid #000;
        text-align: center;    
        padding: 10px 50px;
		background-color:#000;
        font-size:10px;
        color:#fff;
		
    }
    .footer h5{
        margin: 0;
    }
    .horizontal-menu{
         width:100%;
         height: auto;
         margin-top: 20px;
    }
    .horizontal-menu .items{
        display: flex;
        justify-content: center;
    }
    .horizontal-menu a{
        text-decoration: none;
        padding: 0px 20px;
        color:#000;
        font-size: 14px;
    }
    
}